<!doctype html>
<html lang="en">
  <head>
    <meta charser="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <title>Sudoku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="bundle/sudoku.css">
    <link rel="stylesheet" href="bundle/bootstrap.css">
  </head>
  <style>
.flex-container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}

.lateral {
  background-color: #f1f1f1;
  width: 30%;
}
.central
{
  margin: 10px;
  padding-right: 30px;
}
  </style>
  <body>

    <div id="app">
      <div>
        <h1>Sudoku</h1>
      </div>
      <div>
        
      </div>
        <div class="flex-container">
            <div class="lateral">
                <h1>Lista de Jugadores</h1>
                <table style="width: 80%">
                  <tr><td>
                        #
                    </td><td>
                        Nombre
                    </td>
                     <td>
                        Tipo Juego
                      </td>
                      <td>
                        Completado
                      </td></tr>
                  <tr v-for="jugador in jugadores">
                    <td>
                        {{* jugador.id }}
                    </td><td>
                        {{* jugador.nombre }}
                    </td>
                     <td>
                        {{* jugador.tipo }}
                      </td>
                      <td>
                        {{* jugador.completado }}
                      </td>
                  </tr>        
              </table>
              </div>
      <div class="central"> 
          <div class="dialog" v-if="game === null">
            <p>Inserte su nombre: <input type="text" v-model="jugador"></p>
            <p>Escoja un nivel de dificultad:</p>
            <button @click="difficultyClick" data-difficulty="facil">Facil</button>
            <button @click="difficultyClick" data-difficulty="medio">Medio</button>
            <button @click="difficultyClick" data-difficulty="dificil">Dificil</button>
          </div>
              <table class="sudoku-table" v-else>
              <tbody>
                <tr><td colspan="9">Bienvenido <input type="text" v-model="jugador"></td></tr>
              <tr v-for="(irow, row) in game">
                <td v-for="(icell, cell) in row"
                  :class="['i'+irow, 'j'+icell, cell.editable ? 'editable': 'not-editable', cell.hasConflict ? 'has-conflict' : 'no-conflict']">
                  <input type="tel" :value="cell.value" :readonly="!cell.editable"
                    :data-i="irow" :data-j="icell"
                    @click="cellClick"
                    @keyup="cellKeyUp" />
                </td>
              </tr>
            </tbody>
            </table>
            <div class="controls" v-if="game !== null">
                <p><a href="#" @click="backClick">Volver</a></p>
                <p>{{formatedTime()}}</p>
              </div>
       </div>
      <div class="lateral">
          Tutorial
          
        </div>
    </div>

  </div>
    <script src="bundle/sudoku.js"></script>
  </body>
</html>
